Repository joyshmitz/remote_compilation_helper: changes, and which Codecov flags are due for each by the changed paths.
All: rch, rchd, rch-common, rch-wkr

feat(testing): add test_guard logging to unit tests (bd-s3x9)
  Cargo.lock
  Cargo.toml
  rch-common/Cargo.toml
  rch-common/src/testing/mod.rs
  rchd/src/alerts.rs
Due: rchd

test(e2e): Refactor end-to-end tests for improved readability and test_guard logging
  tests/true_e2e/artifact_tests.rs
  tests/true_e2e/cargo_bench_tests.rs
  tests/true_e2e/cargo_nextest_tests.rs
Due: none

test(e2e): Add saved-time summary verification script (bd-zked)
  scripts/e2e_bd-zked.sh
Due: none

bd-s3x9: close; bd-3dqn: add telemetry dashboard script
  .beads/issues.jsonl
  scripts/test_telemetry_dashboard.py
Due: none

chore: sync beads
  .beads/issues.jsonl
Due: none

feat(testing): Add comprehensive unit tests across rch components
  .beads/issues.jsonl
  rch-common/src/config/source.rs
  rch-common/src/e2e/harness.rs
  rch-common/src/protocol.rs
  rch-common/src/ui/progress/tests.rs
  rch/src/fleet/executor.rs
  rch/src/fleet/rollback.rs
  rch/src/main.rs
  rch/src/status_types.rs
  rch/src/ui/writer.rs
  rchd/src/reload.rs
  rchd/src/ui/metrics.rs
Due: rch, rchd, rch-common

test(rch-common): Add 26 new tests to logging.rs
  rch-common/src/logging.rs
Due: rch-common

ci: add ACFS notification workflow for installer changes
  .github/workflows/notify-acfs.yml
Due: none

test: Add comprehensive unit test coverage across rch components (+2000 lines)
  .beads/issues.jsonl
  Cargo.lock
  rch-common/src/artifact_verify.rs
  rch-common/src/config/source.rs
  rch-common/src/logging.rs
  rch-common/src/mock.rs
  rch-common/src/protocol.rs
  rch/src/cache.rs
  rch/src/commands.rs
  rch/src/fleet/mod.rs
  rch/src/status_types.rs
  rchd/Cargo.toml
  rchd/src/alerts.rs
  rchd/src/api.rs
  rchd/src/benchmark_queue.rs
  rchd/src/benchmark_scheduler.rs
  rchd/src/health.rs
  rchd/src/http_api.rs
  rchd/src/ui/metrics.rs
Due: rch, rchd, rch-common

chore: Add .profraw files to gitignore
  .gitignore
Due: none

test(ui): Add comprehensive unit tests for icon system
  rch-common/src/ui/icons.rs
Due: rch-common

Sync beads
  .beads/issues.jsonl
Due: none

Docs: add rch dashboard/tui usage
  README.md
Due: none

chore(beads): Sync issue tracking state
  .beads/issues.jsonl
Due: none

chore: bump version to 0.1.2
  Cargo.toml
Due: none

chore(beads): Sync issue tracking state
  Cargo.lock
Due: none

test(tui): Add comprehensive unit tests for TUI app infrastructure (+482 lines)
  rch/src/tui/app.rs
Due: rch

feat(update): implement fleet-wide worker binary deployment
  rch/src/update/mod.rs
Due: none

fix(tests): repair fleet and update module JSON output tests
  .beads/issues.jsonl
  rch/src/commands.rs
  rch/src/fleet/dry_run.rs
  rch/src/fleet/mod.rs
  rch/src/update/mod.rs
Due: rch

chore(beads): sync issue tracking state
  .beads/issues.jsonl
Due: none

feat(beads): Add comprehensive testing requirements and optimize structure
  .beads/issues.jsonl
Due: none

feat(beads): Create comprehensive UX audit bead structure
  .beads/issues.jsonl
Due: none

refactor(cli): use global verbose flag for speedscore command
  rch/src/commands.rs
  rch/src/main.rs
Due: rch

feat(tui): enhance test infrastructure and documentation
  .beads/issues.jsonl
  rch/src/tui/widgets.rs
  scripts/analyze_test_logs.sh
  scripts/lib/test_framework.sh
Due: rch

feat(benchmark): add parallel progress display for worker benchmarks
  .beads/issues.jsonl
  rch/src/commands.rs
Due: rch

feat(config): comprehensive validation for paths, SSH keys, and rsync patterns
  .beads/issues.jsonl
  rch/src/config.rs
Due: rch

refactor: formatting and TUI test improvements
  .beads/issues.jsonl
  rch/src/config.rs
  rch/src/error.rs
  rch/src/tui/test_data.rs
  rch/src/tui/test_harness.rs
  rch/src/tui/widgets.rs
Due: rch

feat(cli): add confirmation prompts for daemon stop/restart
  rch/src/commands.rs
  rch/src/main.rs
Due: rch

refactor(cli): reorganize commands with types module
  rch/src/commands.rs
  rch/src/commands/types.rs
Due: rch

feat(ui): extend theme system with TUI-specific status symbols
  rch/src/main.rs
  rch/src/ui/theme.rs
Due: rch

feat(cli): add short flags for common options
  rch/src/main.rs
Due: rch

feat(tui): restore confirmation dialogs for destructive worker actions
  rch/src/tui/app.rs
  rch/src/tui/event.rs
  rch/src/tui/mod.rs
  rch/src/tui/state.rs
  rch/src/tui/status.rs
  rch/src/tui/widgets.rs
Due: rch

feat(rch): enhanced CLI commands, status display, and TUI components
  .beads/issues.jsonl
  rch/src/commands.rs
  rch/src/status_display.rs
  rch/src/tui/app.rs
  rch/src/tui/event.rs
  rch/src/tui/state.rs
  rch/src/tui/widgets.rs
Due: rch

feat(rch): CLI improvements and issue tracker sync
  .beads/issues.jsonl
  rch/src/commands.rs
  rch/src/main.rs
Due: rch

feat(rch): command improvements
  rch/src/commands.rs
Due: rch

feat(rch): add dry-run support for cancel command and improve CLI tests
  .beads/issues.jsonl
  rch/src/main.rs
Due: rch

Path conditions:
  rch: any of: rch/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rchd: any of: rchd/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rch-common: any of: rch-common/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rch-wkr: any of: rch-wkr/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
