Repository joyshmitz/remote_compilation_helper: changes, and which Codecov flags are due for each by the changed paths.
All: rch, rchd, rch-common, rch-wkr

Bump version to 1.0.4
  Cargo.lock
  Cargo.toml
  install.sh
Due: none

Fix restart box alignment
  install.sh
Due: none

fix(hook): safe merge instead of replacing existing hooks
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  rch/src/commands/hook.rs
Due: rch

fix(ci): fix release workflow build failures
  .github/workflows/ci.yml
  .github/workflows/release.yml
  rch/src/commands/hook.rs
Due: rch

fix(ci): remove unused linker env var causing ARM64 build failure
  .github/workflows/ci.yml
Due: none

chore: bump version to 1.0.6
  Cargo.lock
  Cargo.toml
Due: none

fix(ci): exclude rchd from Windows release package
  .github/workflows/release.yml
Due: none

fix(ci): use $(whoami) instead of $USER for reliable owner detection
  .github/workflows/release.yml
Due: none

fix(release): make rich_rust clone robust to missing USER
  .github/workflows/release.yml
Due: none

fix(installer): retry versioned asset before API fallback
  install.sh
Due: none

fix(installer): ensure detect_agents does not fail install
  install.sh
Due: none

fix(installer): preserve errexit state across agent detection
  install.sh
Due: none

Fix installer to use versioned release artifacts
  install.sh
Due: none

Fix installer version resolution and proxy args
  install.sh
Due: none

refactor(release): externalize shell installer and fix PowerShell checksum
  .github/workflows/release.yml
Due: none

Auto-sync workers after easy-mode install
  install.sh
Due: none

Install rch-wkr for local fleet deploy
  install.sh
Due: none

Allow tilde paths in remote operations
  rch-common/src/ssh_utils.rs
  rch/src/fleet/ssh.rs
  rchd/src/cache_cleanup.rs
Due: rch, rchd, rch-common

Resolve tilde paths for SCP uploads
  rch/src/fleet/ssh.rs
Due: rch

Add Windows run_exec stub
  rch/src/hook_windows.rs
Due: rch

Bump to v1.0.8 — fix 2>&1 redirect classification
  Cargo.toml
  install.sh
Due: none

fix(test): allow-with-updatedInput is not a deny response
  rch/tests/hook_integration.rs
Due: none

Update Cargo.lock for v1.0.8
  Cargo.lock
Due: none

chore: gitignore target-local/ build directory
  .gitignore
Due: none

fix: narrow secret exclude defaults
  rch-common/src/types.rs
  rch/src/transfer.rs
Due: rch, rch-common

fix: align config exclude examples with defaults
  docs/TROUBLESHOOTING.md
  docs/adr/004-toml-configuration.md
  docs/guides/configuration.md
  docs/guides/migration.md
  docs/runbooks/configuration-troubleshooting.md
  docs/runbooks/debugging-slow-builds.md
  rch/src/commands/config_init.rs
  rch/src/config.rs
Due: rch

docs: clarify exclude_patterns replacement semantics
  docs/TROUBLESHOOTING.md
  docs/adr/004-toml-configuration.md
  docs/guides/configuration.md
  docs/guides/migration.md
  docs/runbooks/configuration-troubleshooting.md
  docs/runbooks/debugging-slow-builds.md
Due: none

Path conditions:
  rch: any of: rch/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rchd: any of: rchd/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rch-common: any of: rch-common/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rch-wkr: any of: rch-wkr/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
