Repository joyshmitz/remote_compilation_helper: changes, and which Codecov flags are due for each by the changed paths.
All: rch, rchd, rch-common, rch-wkr

fix(ssh): remove unnecessary mut on BufReader; close bd-3uqs.1
  .beads/issues.jsonl
  rch-common/src/artifact_verify.rs
  rch-common/src/patterns.rs
  rch-common/src/ssh.rs
  rch/src/fleet/mod.rs
  rch/src/fleet/preflight.rs
  rch/src/fleet/ssh.rs
  rch/src/hook.rs
  rch/src/transfer.rs
  rch/tests/audit_e2e.rs
  rch/tests/e2e_hook.rs
  rchd/src/api.rs
  rchd/src/http_api.rs
Due: rch, rchd, rch-common

Refactor telemetry architecture and enhance transfer reliability
  .beads/issues.jsonl
  rch-telemetry/Cargo.toml
  rch-telemetry/src/lib.rs
  rch-telemetry/src/main.rs
  rch-wkr/Cargo.toml
  rch-wkr/src/main.rs
  rch/src/hook.rs
  rch/src/transfer.rs
  rchd/src/health.rs
  rchd/src/telemetry.rs
Due: rch, rchd, rch-wkr

Enhance fleet management and telemetry collection
  rch-common/src/patterns.rs
  rch-telemetry/src/collect/mod.rs
  rch/src/fleet/mod.rs
  rch/src/fleet/preflight.rs
  rch/src/fleet/rollback.rs
  rch/src/transfer.rs
  rchd/src/api.rs
  rchd/src/telemetry.rs
Due: rch, rchd, rch-common

Update beads issue tracker state
  .beads/issues.jsonl
Due: none

feat(fleet): Parallelize rollback operations with graceful worker lifecycle
  rch/src/fleet/executor.rs
  rch/src/fleet/rollback.rs
  rch/src/toolchain.rs
  rch/src/transfer.rs
  rchd/src/benchmark_scheduler.rs
  rchd/src/cleanup.rs
  rchd/src/main.rs
Due: rch, rchd

test(preflight): Add comprehensive unit tests for worker status types
  rch/src/fleet/preflight.rs
Due: rch

fix(hook): Add path hash to project names for cache affinity uniqueness
  rch/src/hook.rs
Due: rch

test(rollback): Add comprehensive registry unit tests
  .beads/issues.jsonl
  rch-common/src/lib.rs
  rch-common/src/patterns.rs
  rch-common/src/repro_bug.rs
  rch-common/src/ssh_timeout_test.rs
  rch-common/src/types.rs
  rch/src/fleet/executor.rs
  rch/src/fleet/preflight.rs
  rch/src/fleet/rollback.rs
  rch/src/hook.rs
  rch/src/toolchain.rs
  rch/src/transfer.rs
  rchd/src/api.rs
  rchd/src/cleanup.rs
  rchd/src/selection.rs
  rchd/src/telemetry.rs
Due: rch, rchd, rch-common

test(rollback): Add concurrent write and shutdown order tests
  .beads/issues.jsonl
  rch/src/fleet/rollback.rs
Due: rch

chore(beads): Update bd-39j3.4 with completion status
  .beads/issues.jsonl
Due: none

chore(beads): Sync beads state
  .beads/issues.jsonl
Due: none

chore(beads): Close bd-39j3.4 - rollback tests complete
  .beads/issues.jsonl
Due: none

chore(beads): Close bd-39j3 - rollback_workers() implementation complete
  .beads/issues.jsonl
Due: none

chore(beads): close bd-rs7w.1 E2E fleet test scripts
  .beads/issues.jsonl
Due: none

style: Format test_fleet_rollback_no_backup test function
  rch/tests/e2e_fleet.rs
Due: none

fix: Add lock protection for concurrent backup registry access
  rch/src/fleet/rollback.rs
Due: rch

fix: Extend test code mutation to recognize additional println patterns
  rch-common/src/test_change.rs
Due: rch-common

sync: Update .beads/issues.jsonl with latest issue state
  .beads/issues.jsonl
Due: none

chore(beads): close stub elimination epic and remaining tasks
  .beads/issues.jsonl
Due: none

test: Add thread-safe env var helpers and fix flaky core estimation test
  rch/src/hook.rs
Due: rch

refactor: Consolidate version helpers and reduce code duplication
  rch/src/commands/helpers.rs
  rch/src/commands/mod.rs
  rch/src/hook.rs
  rch/src/tui/widgets.rs
Due: rch

chore: Remove unused imports after helper consolidation
  rch/src/commands/mod.rs
  rch/src/hook.rs
Due: rch

fix: Minor commands/mod.rs adjustment
  rch/src/commands/mod.rs
Due: none

sync: Update beads with commands.rs refactoring progress
  .beads/issues.jsonl
Due: none

refactor(bd-3ewx): Extract daemon commands to daemon.rs module
  .beads/issues.jsonl
  rch/src/commands/daemon.rs
  rch/src/commands/mod.rs
Due: rch

refactor(bd-3ewx): Modularize commands and add -y/--yes flags
  .beads/issues.jsonl
  rch-common/proptest-regressions/proptest_tests.txt
  rch-common/proptest-regressions/ssh.txt
  rch-common/src/lib.rs
  rch-common/src/ssh.rs
  rch-common/src/types.rs
  rch-common/src/util.rs
  rch-wkr/src/executor.rs
  rch/src/commands/helpers.rs
  rch/src/commands/hook.rs
  rch/src/commands/mod.rs
  rch/src/commands/status.rs
  rch/src/commands/workers.rs
  rch/src/error.rs
  rch/src/fleet/mod.rs
  rch/src/hook.rs
  rch/src/hook_windows.rs
  rch/src/main.rs
  rch/src/status_display.rs
  rch/src/transfer.rs
  rch/tests/e2e_fleet.rs
Due: rch, rch-common, rch-wkr

chore: Add WorkerId import to commands test module
  rch/src/commands/mod.rs
Due: none

Extract queue commands module
  rch/src/commands/mod.rs
  rch/src/commands/queue.rs
  rch/src/commands/workers.rs
Due: rch

refactor: Extract config commands to dedicated module
  rch/src/commands/config.rs
  rch/src/commands/mod.rs
Due: rch

chore(beads): Sync issue tracker state
  .beads/issues.jsonl
Due: none

refactor: Extract agent commands to dedicated module
  rch/src/commands/agents.rs
  rch/src/commands/config.rs
  rch/src/commands/mod.rs
Due: rch

refactor: Extract speedscore commands to dedicated module
  rch/src/commands/mod.rs
  rch/src/commands/speedscore.rs
  rch/src/commands/status.rs
Due: rch

Add config get command
  .beads/issues.jsonl
  rch/src/commands/config.rs
  rch/src/commands/mod.rs
  rch/src/commands/status.rs
  rch/src/commands/types.rs
  rch/src/commands/workers_init.rs
  rch/src/main.rs
Due: rch

fix(rch): minor refinements to worker deployment commands
  rch/src/commands/mod.rs
  rch/src/commands/types.rs
  rch/src/commands/workers_deploy.rs
  rch/src/main.rs
Due: rch

chore(rch): continued refinements to worker commands
  rch/src/commands/mod.rs
  rch/src/commands/workers_deploy.rs
Due: rch

chore(beads): sync issue tracker state
  .beads/issues.jsonl
Due: none

refactor(rch): extract config_doctor and config_init modules (bd-1f0i)
  rch/src/commands/config.rs
  rch/src/commands/config_doctor.rs
  rch/src/commands/config_init.rs
  rch/src/commands/init.rs
  rch/src/commands/mod.rs
Due: rch

Path conditions:
  rch: any of: rch/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rchd: any of: rchd/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rch-common: any of: rch-common/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rch-wkr: any of: rch-wkr/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
