Repository joyshmitz/remote_compilation_helper: changes, and which Codecov flags are due for each by the changed paths.
All: rch, rchd, rch-common, rch-wkr

feat(rch): add Drained worker status for graceful drain lifecycle
  .beads/issues.jsonl
  rch-common/src/types.rs
  rch-common/src/ui/theme.rs
  rchd/src/alerts.rs
  rchd/src/api.rs
  rchd/src/health.rs
  rchd/src/selection.rs
  rchd/src/telemetry.rs
  rchd/src/ui/workers.rs
  rchd/src/workers.rs
Due: rchd, rch-common

feat(rch): complete Drained status integration across all UI layers
  rch/src/commands/mod.rs
  rch/src/status_display.rs
  rch/src/tui/app.rs
  rch/src/tui/state.rs
  rch/src/tui/status.rs
  rch/src/tui/widgets.rs
  rch/src/ui/workers.rs
  rchd/src/api.rs
  rchd/src/workers.rs
Due: rch, rchd

chore: sync concurrent agent changes
  rch/src/commands/mod.rs
  rch/src/commands/types.rs
Due: rch

chore: sync
  rch/src/commands/mod.rs
Due: none

feat(rch): implement check command health verification logic
  rch/src/commands/mod.rs
Due: none

feat(fleet): add FleetProgress struct for parallel deployment tracking
  .beads/issues.jsonl
  rch/src/fleet/mod.rs
  rch/src/fleet/progress.rs
Due: rch

feat(fleet): integrate FleetProgress into FleetExecutor
  .beads/issues.jsonl
  rch/src/fleet/executor.rs
Due: rch

feat(tui): add sort controls to build history panel
  .beads/issues.jsonl
  rch/src/tui/app.rs
  rch/src/tui/event.rs
  rch/src/tui/state.rs
  rch/src/tui/widgets.rs
Due: rch

fix: address security, reliability, and correctness issues from deep audit
  rch-common/src/types.rs
  rch/src/tui/state.rs
  rchd/src/api.rs
  rchd/src/main.rs
  rchd/src/selection.rs
  rchd/src/workers.rs
Due: rch, rchd, rch-common

chore: sync issues.jsonl
  .beads/issues.jsonl
Due: none

chore: sync concurrent agent changes
  .beads/issues.jsonl
Due: none

perf(hook): move timing estimation to spawn_blocking
  .beads/issues.jsonl
  rch/src/hook.rs
Due: rch

chore: sync concurrent agent changes
  .beads/issues.jsonl
  rch/src/hook.rs
Due: rch

refactor(hook): move blocking IO off async thread and update tests
  rch/src/cache.rs
  rch/tests/e2e_hook.rs
Due: rch

refactor(rchd): improve worker selection, health checks, and API robustness
  rchd/src/api.rs
  rchd/src/health.rs
  rchd/src/selection.rs
  rchd/src/ui/workers.rs
  rchd/src/workers.rs
Due: rchd

chore(beads): sync issue tracker state
  .beads/issues.jsonl
Due: none

fix(readme): use master branch in install URL
  README.md
Due: none

Sync beads issue tracker
  .beads/issues.jsonl
Due: none

test(workers): add atomic field accessor tests and memory ordering docs (bd-1gyl, bd-29mw)
  .beads/issues.jsonl
  rchd/src/workers.rs
Due: rchd

feat(install): auto-fallback to source build when binaries unavailable
  install.sh
Due: none

refactor(install): consolidate duplicate clone_and_build functions
  install.sh
Due: none

chore(install): remove unused cleanup_clone_dir function
  install.sh
Due: none

test(e2e): add comprehensive audit E2E integration tests (bd-37v0)
  rch-common/src/patterns.rs
  rch/tests/audit_e2e.rs
Due: rch-common

fix(install): add error handling and remove dead code
  install.sh
Due: none

perf(hook): add in-memory cache for TimingHistory (bd-3jsw)
  rch/src/hook.rs
Due: rch

feat(tui): add detail bar showing full content of selected item (bd-3n1d)
  .beads/issues.jsonl
Due: none

refactor(error): simplify error code uniqueness test with helper macro
  rch/src/error.rs
Due: rch

chore(release): bump version to 1.0.0
  Cargo.lock
  Cargo.toml
Due: none

refactor(commands): use dynamic socket path from rch_common
  rch/src/commands/mod.rs
Due: none

refactor(error): replace bail!() with structured errors (bd-2f8g progress)
  .beads/issues.jsonl
  docs/agent/ERRORS.md
  docs/api/error-codes.md
  rch/src/commands/mod.rs
  rch/src/error.rs
Due: rch

fix(install): fix TEMP_DIR leak and add proxy to API call
  install.sh
Due: none

refactor(commands): use SshError for deploy_via_scp failures
  rch/src/commands/mod.rs
Due: none

chore: sync beads issue tracker
  .beads/issues.jsonl
Due: none

refactor(config): replace bail! with ConfigError::InvalidValue
  rch/src/config.rs
Due: rch

chore: sync beads - close bd-u81h (already implemented)
  .beads/issues.jsonl
Due: none

Sync upstream changes
  rch/src/commands/mod.rs
  rch/src/fleet/executor.rs
Due: rch

Sync fleet executor changes
  rch/src/fleet/executor.rs
Due: rch

chore: harden hook/daemon input limits; close bd-130u
  .beads/issues.jsonl
  rch-common/src/patterns.rs
  rch/src/hook.rs
  rchd/src/api.rs
  rchd/src/benchmark_scheduler.rs
  rchd/src/selection.rs
Due: rch, rchd, rch-common

Path conditions:
  rch: any of: rch/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rchd: any of: rchd/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rch-common: any of: rch-common/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
  rch-wkr: any of: rch-wkr/src/, but not: tests/**/*, **/tests/**/*, benches/**/*, **/benches/**/*, **/mod.rs, rch-telemetry/**/*
