Repository joyshmitz/remote_compilation_helper: changes, and which Codecov flags are due for each by the changed paths.
All: rch, rchd, rch-common, rch-wkr

.codecov.yml:

# Codecov configuration for Remote Compilation Helper
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 65%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: false

# Ignore files that shouldn't affect coverage metrics
ignore:
  - "tests/**/*"
  - "**/tests/**/*"
  - "benches/**/*"
  - "**/benches/**/*"
  - "**/mod.rs"  # Often just re-exports
  - "rch-telemetry/**/*"  # Telemetry is optional tooling

# Flag management for per-crate breakdown
flags:
  rch:
    paths:
      - rch/src/
    carryforward: true
  rchd:
    paths:
      - rchd/src/
    carryforward: true
  rch-common:
    paths:
      - rch-common/src/
    carryforward: true
  rch-wkr:
    paths:
      - rch-wkr/src/
    carryforward: true

# Comment configuration for PRs
comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# GitHub checks integration
github_checks:
  annotations: true

Sync beads
  .beads/issues.jsonl
Due: none

refactor(rch): convert remaining bail!() in config_edit and web commands (bd-1nk5)
  rch/src/commands/config.rs
  rch/src/main.rs
Due: rch

refactor(rch): minor improvements to config, completions, and CLI
  rch/src/commands/config.rs
  rch/src/completions.rs
  rch/src/main.rs
Due: rch

refactor(patterns): remove dead code replaced by single-pass state machine
  rch-common/src/patterns.rs
Due: rch-common

test(hook): fix compilation detection test for mock mode behavior
  rch/src/hook.rs
Due: rch

fix(test): make test_compilation_detected test fail-open behavior
  rch/src/hook.rs
Due: rch

test(fleet): gate e2e tests behind true-e2e feature
  rch/tests/e2e_fleet.rs
Due: none

fix(ci): resolve rustdoc warnings and manifest sync
  manifest_index.sh
  rch/src/hook.rs
  rch/src/tui/mod.rs
  rch/src/tui/widgets.rs
  rch/src/ui/mod.rs
Due: rch

fix(rchd): improve E2E test stability with exponential backoff
  rchd/tests/e2e_daemon.rs
Due: none

test(rch-telemetry): increase CPU variance tolerance for CI environments
  rch-telemetry/src/benchmarks/cpu.rs
Due: none

fix(ci): handle macOS read-only root filesystem for rich_rust clone
  .github/workflows/ci.yml
Due: none

style(rchd): apply rustfmt to e2e_daemon.rs
  rchd/tests/e2e_daemon.rs
Due: none

fix(ci): cross-platform compatibility for macOS, Windows, and coverage
  .github/workflows/ci.yml
  rch-common/Cargo.toml
  rch-common/src/binary_hash.rs
  rch-common/src/lib.rs
  rch-common/src/ssh.rs
  rch-common/src/ssh_utils.rs
  rch/src/fleet/ssh.rs
  rch/src/transfer.rs
  rchd/Cargo.toml
  rchd/src/cache_cleanup.rs
Due: rch, rchd, rch-common

fix(ci): complete Windows and macOS compatibility fixes
  rch-common/src/binary_hash.rs
  rch-common/src/lib.rs
  rch-common/src/mock.rs
Due: rch-common

fix(ci): proper feature-gating for cross-platform Windows build
  Cargo.toml
  rch-common/src/ui/errors/build.rs
  rch-common/src/ui/errors/network.rs
  rch-common/src/ui/progress/celebrate.rs
  rch/Cargo.toml
  rchd/Cargo.toml
Due: rch-common

style: fix import ordering for feature-gated imports
  rch-common/src/ui/errors/build.rs
  rch-common/src/ui/errors/network.rs
  rch-common/src/ui/progress/celebrate.rs
Due: rch-common

fix(ci): use platform-agnostic username in e2e fixtures (Windows compat)
  rch-common/src/e2e/fixtures.rs
Due: rch-common

fix(ci): remove rch-telemetry from Windows tests
  .github/workflows/ci.yml
Due: none

chore(ui): refine theme colors and error formatting
  CHANGELOG.md
  rch-common/src/ui/error.rs
  rch-common/src/ui/errors/build.rs
  rch-common/src/ui/errors/config.rs
  rch-common/src/ui/errors/network.rs
  rch-common/src/ui/progress/celebrate.rs
  rch-common/src/ui/progress/compile.rs
  rch-common/src/ui/progress/transfer.rs
  rch-common/src/ui/theme.rs
Due: rch-common

fix(ui): gate rich UI modules for Unix only
  rch/src/hook.rs
  rch/src/ui/console.rs
  rch/src/ui/mod.rs
  rch/src/ui/probe.rs
  rch/src/ui/status.rs
  rch/src/ui/workers.rs
Due: rch

fix(test): remove race condition in test_is_mock_transport_disabled
  rchd/src/health.rs
Due: rchd

fix(platform): gate Unix socket and SSH imports behind cfg(unix)
  rch/src/commands/config_doctor.rs
  rch/src/commands/helpers.rs
  rch/src/commands/workers.rs
  rch/src/transfer.rs
Due: rch

chore: sync beads
  .beads/issues.jsonl
Due: none

fix: improve daemon robustness with timeouts, logging, and cache bounds
  rch/src/hook.rs
  rchd/src/api.rs
  rchd/src/selection.rs
Due: rch, rchd

chore: sync beads (close bd-1765)
  .beads/issues.jsonl
Due: none

refactor(rchd): move worker handler functions and types from api.rs to workers.rs (bd-14m0)
  .beads/issues.jsonl
  rch/src/commands/mod.rs
  rch/src/commands/status.rs
  rch/src/commands/workers.rs
  rchd/src/api.rs
  rchd/src/workers.rs
Due: rch, rchd

fix(rchd): correct import ordering in api.rs test module
  rchd/src/api.rs
Due: rchd

chore: bump version to v1.0.1
  Cargo.toml
Due: none

chore: update Cargo.lock dependencies
  Cargo.lock
Due: none

security(ssh): use StrictHostKeyChecking=accept-new instead of no
  docs/TROUBLESHOOTING.md
  rch-common/src/e2e/verification.rs
  rch-common/src/remote_compilation.rs
  rch/src/transfer.rs
Due: rch, rch-common

Harden SSH socket security and improve lock handling
  rch-common/src/ssh.rs
  rch/src/transfer.rs
  rchd/src/history.rs
Due: rch, rchd, rch-common

Implement queue timeout with graceful fallback to local build
  rchd/src/api.rs
  rchd/src/main.rs
Due: rchd

Improve SSH command timeout cleanup documentation
  rch-common/src/ssh.rs
Due: rch-common

fix: ensure SSH disconnect on timeout to prevent leaked remote processes
  rch-common/src/ssh.rs
  rch-common/src/ui/progress/pipeline.rs
  rch/src/transfer.rs
Due: rch, rch-common

feat(transfer): add adaptive compression based on transfer size estimation
  rch-common/src/patterns.rs
  rch/src/hook.rs
  rch/src/transfer.rs
Due: rch, rch-common

Fix transfer size threshold
  rch/src/hook.rs
  rch/src/transfer.rs
Due: rch

fix: security and portability improvements for artifact verification and worker selection
  rch-common/src/artifact_verify.rs
  rch-common/src/toolchain.rs
  rchd/src/selection.rs
Due: rchd, rch-common

fix(tests): add serial test annotations to prevent global mock state races
  rch/src/hook.rs
  rch/src/transfer.rs
Due: rch

fix(installer): add prominent restart reminder after hook installation
  install.sh
Due: none

chore: bump version to 1.0.3
  Cargo.lock
  Cargo.toml
  install.sh
Due: none
